<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>IOT House UG Software Development Project</title>

    <!-- Libs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.8.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <script src="static/MessageHandler.js"></script>
    <script src="static/script.js"></script>

</head>
<body>
    <h1>UG Software Development: IOT House</h1>
        
    <!-- In the message handler  -->
    <textarea id="messages" rows="10" cols="50" readonly></textarea>

    <script src="static/sketch.js"></script> 
    
</body>
</html>
